<!DOCTYPE html>
<html>

<head>
    <title>YouTube Video Player</title>
</head>

<body>
    <h1>YouTube Video Player</h1>
    <form method="post" action="{% url 'mv' %}">
        {% csrf_token %}
        <label for="video_url">Enter YouTube Video URL:</label>
        <input type="text" name="video_url" id="video_url" required>
        <button type="submit">Submit</button>
    </form>
    {% if video %}
    <h2>{{ video.snippet.title }}</h2>
    <iframe width="450" height="200" src="https://www.youtube.com/embed/{{ video.id.videoId }}" frameborder="0"
        allowfullscreen></iframe>
    {% endif %}
</body>

</html>