<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDotify</title>
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="background">
        <div>
            <div class="rect-1">
                <div class="home">
                    <svg class="icon-container" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30"
                        height="30" viewBox="0,0,256,256">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <g transform="scale(5.33333,5.33333)">
                                <path
                                    d="M39.5,43h-9c-1.381,0 -2.5,-1.119 -2.5,-2.5v-9c0,-1.105 -0.895,-2 -2,-2h-4c-1.105,0 -2,0.895 -2,2v9c0,1.381 -1.119,2.5 -2.5,2.5h-9c-1.381,0 -2.5,-1.119 -2.5,-2.5v-19.087c0,-2.299 1.054,-4.471 2.859,-5.893l14.212,-11.199c0.545,-0.428 1.313,-0.428 1.857,0l14.214,11.199c1.805,1.422 2.858,3.593 2.858,5.891v19.089c0,1.381 -1.119,2.5 -2.5,2.5z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    <div class="text text-home">Home</div>
                </div>
                <div class="search">
                    <svg class="icon-container" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30"
                        height="30" viewBox="0,0,256,256">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <g transform="scale(8.53333,8.53333)">
                                <path
                                    d="M13,3c-5.511,0 -10,4.489 -10,10c0,5.511 4.489,10 10,10c2.39651,0 4.59738,-0.85101 6.32227,-2.26367l5.9707,5.9707c0.25082,0.26124 0.62327,0.36648 0.97371,0.27512c0.35044,-0.09136 0.62411,-0.36503 0.71547,-0.71547c0.09136,-0.35044 -0.01388,-0.72289 -0.27512,-0.97371l-5.9707,-5.9707c1.41266,-1.72488 2.26367,-3.92576 2.26367,-6.32227c0,-5.511 -4.489,-10 -10,-10zM13,5c4.43012,0 8,3.56988 8,8c0,4.43012 -3.56988,8 -8,8c-4.43012,0 -8,-3.56988 -8,-8c0,-4.43012 3.56988,-8 8,-8z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    <div class="text text-search">Search</div>
                </div>

            </div>
            <div class="rect-2">
                <div class="library">
                    <svg class="icon-container" width="30" height="33" viewBox="0 0 30 33" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 31.0688L2 2" stroke="white" stroke-width="3" stroke-linecap="round" />
                        <path d="M10 31.0688L10 1.99997" stroke="white" stroke-width="3" stroke-linecap="round" />
                        <path
                            d="M17 2.71728C17 0.951439 19.1213 0.0520464 20.3905 1.27978L29.3905 9.98579C29.7801 10.3626 30 10.8813 30 11.4233V30C30 31.1046 29.1046 32 28 32H19C17.8954 32 17 31.1046 17 30L17 15V2.71728Z"
                            fill="#D9D9D9" />
                    </svg>
                    <div class="text text-library">Library</div>
                </div>
                <div class="">
                    <div class="playlist">
                        <div class="icon-container-1">
                            <div class="text text-playlist">Playlist</div>
                        </div>
                    </div>
                    <div class="artist">
                        <div class="icon-container-1">
                            <div class="text text-artist">Artists</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>