<!-- edit_profile.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <!-- Thêm Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Edit Profile</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">Username:</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}"
                    readonly>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="last_name">Phone number</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number"
                    value="{{ user.phone_number }}">
            </div>
            <div class="form-group">
                <label for="pass2">DOB</label>
                <input type="text" class="form-control" id="dob" name="dob" value="{{user.dob}}" Required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</body>

</html>