<!-- yourapp/templates/password_reset.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resetpass.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/SDotify.jpg' %}">
            </a>
        </div>
    </header>

    <div class="class">
        <div class="main">
            <h1>Password Reset</h1>
            <br>
        </div>
        <br>
        <div class="log-in">
            <form method="post">
                <label>New Password</label>
                <input type="text" id="pass1" name='pass1'>
                <label>Repeat new Password</label>
                <input type="text" id='pass2' name='pass2'>
                <div class="send" type='submit'>
                    <button>Send</button>
                </div>
            </form>

            <hr>
        </div>

        <div class="last">
            <span>If you still need help, check out</span>
            <a href="#">Spotify Support</a>
        </div>
    </div>
</body>

</html>